# api id and api hash (my.telegram.org)
# required
API_ID='37718149'
API_HASH='aa15df4d0ddaa70a3c109ed6cdb12277'

# pyrogram session string (@genstr_robot)
# required
SESSION='1BJWap1wBu1arIq1x89dAdJCnEPk5OClUmQrJWZtq0pi-grnvo94MO4OQxrAOmKGPRjJ_LUWxNhJ1KZrX6ln-vqn9twb59bykdoM9Zm0db8GAI96___d0LRudZmb9orJLhMX-rk5HXjUjQGtOtQS5eo43Y-AwJCMhpW-qIMH8w4SdQPYUlQkVetHjeo2_39gtin0Vz76etsNW-LFPXDH0sNY30YdZm77aco0DMKR363HscycwMd7KaWXZsWvESbXjYOqzl84bmcZY0dm-0606QyYfFAUk7FPAuZslkBZZJ0766jfizm-wBU_pHpBwKkXRCMSeYCvzyVgmVpR3cyZNKdQXLUkZmok='

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='8644706618:AAEIIN3EeaTBzRzgml5Scp_1qhqGtdBISeg'

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='ar'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
